@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica Bold';
  src: url(../public/fonts/Helvetica-Neue-LT-GEO-Bold.ttf);
}

@font-face {
  font-family: 'Helvetica Medium';
  src: url(../public/fonts/Helvetica-Medium.ttf)
}

@font-face {
  font-family: "NovemberGeLC Regular";
  src: url(../public/fonts/NovemberGeLC-Regular.woff2) format("woff2")
}

@font-face {
  font-family: "NovemberGeLC Bold";
  src: url(../public/fonts/NovemberGeLC-Bold.woff2) format("woff2")
}

/* .modal::-webkit-scrollbar {
  width: 2px;
}

.modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */